layout python3

[ -z ${VIRTUAL_ENV+x} ] && {
  echo "Unable to install requirements because there is no activated python virtual environment"
  exit 1
}
python -c "import pkg_resources; pkg_resources.require(open('requirements.txt',mode='r'))" || {
  pip install --upgrade pip
  pip install --requirement requirements.txt
}
